
\.gradle/4\.1/fileChanges/

\.gradle/4\.1/fileContent/

\.gradle/4\.1/fileHashes/

\.gradle/4\.1/javaCompile/

\.gradle/4\.1/taskHistory/

\.gradle/buildOutputCleanup/

\.idea/

gradle/wrapper/

gradlew\.bat

local\.properties

gradlew

gradle\.properties

build/android-profile/

app/app\.iml
